
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px;
    color: #fff;
}

header .highlight {
    color: #c66332;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}
nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav ul li {
    margin-left: 30px;
    margin-right: 30px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: #c66332;
}

.right-nav a {
    padding: 10px 20px;
    background: #fff;
    color: #333;
    border: 2px transparent;
    border-radius: 5px;
    text-decoration: none;
}

.right-nav a:hover {
    background-color: #c66332;
    color: #fff;
}



/* About me*/
.about-me {
    text-align: center;
    margin-top: 50px;
}
.profile-picture img {
    margin-top: 60px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}
.description {
    margin-top: 20px;
}

.resume {
    text-align: center;
    margin-top: 30px;
}

.resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#c66332;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.resume a:hover {
    background-color: #333;
    color: var(--white);
}



/* Footer */
footer {
    background-color:#c66332;
    color: var(--white);
    text-align: center;
    padding: 20px 0;
    
}



